body {
    background-color: black;
}

#account-box {
    width: 320px;
    background-color: dodgerblue;
    border: 1px solid white;
    padding: 30px;
    position: absolute;
    left: 40%;
    top: 42%;
}

#account-box *.field {
    margin: 10px;
    width: 80%;
}

#account-box *.field > .tips {
    font-weight: bold;
    font-size: 8px;
}

#account-box .tips.success {
    color: #10731d;
}

#account-box .tips.failed {
    color: #a70600;
}

#account-box *.field input {
    width: 100%;
    padding: 5px;
}

#account-box *.field label {
    font-weight: bolder;
}

#account-box *.field div.btn-group {
    margin: 0 auto;
    text-align: center;
}

#account-box *.field button {
    margin: 0 5px;
    padding: 5px 35px;
    border: none;
    font-weight: bolder;
    display: inline-block;
    text-align: center;
}

#account-box *.field button#register-btn {
    background-color: mediumaquamarine;
}

#account-box *.field button#login-btn {
    background-color: goldenrod;
}